.login-btn{
    background-color: var(--main-color);
    color: white;

    border: none;
    border-radius: 10px;

    font-size: 1rem;

    width: 105%;
    height: 5vh;
}

.login-btn:hover{
    background-color: var(--hover-color);
    color: white;

    transform: translateY(-2px);
}


.go-to-sign-up-btn{
    background-color: transparent;
    border: none;
    font-size: 1rem ;
    color: var(--main-color);

    width: 90%;
    padding: 5px;
}

.go-to-sign-up-btn:hover{
    color: var(--hover-color);
    background-color: rgb(71, 63, 79);
}

h1{
    font-size: 3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main-color);
}