.sign-up-btn{
    background-color: var(--main-color);
    color: white;
    font-size: 1rem;
    
    border: none;
    border-radius: 10px;

    width: 105%;
    height: 5vh;
}

.sign-up-btn:hover{
    background-color: var(--hover-color);
    color: white;

    transform: translateY(-2px);
}


.go-to-login-btn{
    background-color: transparent;
    border: none;
    font-size: 1rem ;
    color: var(--main-color);

    border-radius: 10px;
    width: 105%;
    padding: 5px;
}

.go-to-login-btn:hover{
    color: var(--hover-color);
    background-color: rgb(71, 63, 79);
}