.login-container{
    background-color: black;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    background: radial-gradient(circle at center, rgb(3, 190, 200), rgb(1, 91, 95));
}
.form-container{

    max-width: 21em;
    min-height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    background: linear-gradient(145deg,rgb(39, 34, 44),rgb(45, 43, 49));

    padding: 20px;

    border: 1px solid black;
    border-radius: 8px;

    box-shadow: 10px 0px 50px var(--main-color),
                0px 10px 50px var(--main-color),
                -10px 0px 50px var(--main-color),
                0px -10px 50px var(--main-color);
;
}


button{
    font-size: 2rem;
    padding: 5px;
    border-radius: 8px;
}

button:hover{
    cursor: pointer;
}
