.message-container{
    background-color: var(--main-color);
    border-radius: 10px;

    padding: 10px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;

    width: fit-content;
    max-width: 70%;

    word-wrap: break-word; 
    overflow-wrap: anywhere; 
    white-space: pre-wrap; 
}


.name-container{
    height: 10%;
    font-size: 0.9rem;

    display: flex;
    justify-content: space-between;
}

.message-container-mine{
    background-color: rgb(249, 46, 84);
    border-radius: 10px;

    padding: 10px;
    margin-bottom: 15px;
    margin-left: auto;

    width: fit-content;
    max-width: 70%;

    word-wrap: break-word; 
    overflow-wrap: anywhere; 
    white-space: pre-wrap; 
}

.name-container-mine{
    height: 10%;
    font-size: 0.9rem;

    display: flex;
    flex-direction: row-reverse;
}
