*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

:root{
  
  --main-color:rgb(5, 130, 130);
  --hover-color: rgb(5, 159, 159);

  /* --main-color: rgb(108, 7, 175);*/
  /* --hover-color: rgb(124, 8, 202);*/
}
